In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("D:/FIAP/Engenharia de Machine Learning/Fase 1/Projeto1/tech_challenge/data/books.csv")

In [5]:
df.head(10)

,title,price,availability,rating,category,image_path
0,It's Only the Himalayas,Â£45.17,In stock,Two,Travel,tech_challenge/data/images\27a53d0bb95bdd88288...
1,Full Moon over Noahâs Ark: An Odyssey to Mou...,Â£49.43,In stock,Four,Travel,tech_challenge/data/images\57770cac1628f440763...
2,See America: A Celebration of Our National Par...,Â£48.87,In stock,Three,Travel,tech_challenge/data/images\9a7e63f12829df4b43b...
3,Vagabonding: An Uncommon Guide to the Art of L...,Â£36.94,In stock,Two,Travel,tech_challenge/data/images\d5bf0090470b0b8ea46...
4,Under the Tuscan Sun,Â£37.33,In stock,Three,Travel,tech_challenge/data/images\98c2e95c5fd1a4e7cd5...
5,A Summer In Europe,Â£44.34,In stock,Two,Travel,tech_challenge/data/images\4e15150388702ebca2c...
6,The Great Railway Bazaar,Â£30.54,In stock,One,Travel,tech_challenge/data/images\76de41867f323d7f1f4...
7,A Year in Provence (Provence #1),Â£56.88,In stock,Four,Travel,tech_challenge/data/images\db46159b05faa5d9526...
8,The Road to Little Dribbling: Adventures of an...,Â£23.21,In stock,One,Travel,tech_challenge/data/images\e04f8eda2a2fa947aec...
9,Neither Here nor There: Travels in Europe,Â£38.95,In stock,Three,Travel,tech_challenge/data/images\0681530a7bc301caf5c...